@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-light: #0a0712;
  --primary-light: #8059c0;
  --secondary-light: #b86191;
  --accent-light: #4d32b8;
  --neutral-light: #2d2935;
  --background-light: #fcfbfe;

  --text-dark: #f0edf8;
  --primary-dark: #673fa6;
  --secondary-dark: #9e4777;
  --accent-dark: #6247cd;
  --neutral-dark: #2d2935;
  --background-dark: #020104;
}
