{% extends "layout.html"  %}


{% block content %}
<div class="mx-auto w-full sm:max-w-4xl px-6">
  <section class="pt-12">
    <h1 class="text-5xl font-bold tracking-tight">my blog</h1>

    <div
      hx-get="/blog/list"
      hx-trigger="load, every 60mins"
      hx-target="#content"
      hx-swap="innerHTML"
      hx-indicator="#htmx-indicator"
      class="w-full *:flex *:flex-col *:w-full *:gap-2 mt-10"
    >
      <div id="content"></div>

      <div id="htmx-indicator" class="htmx-indicator">
        {% for i in [1,2,3] %}
        {{<post.card.skeleton />}}
        {% endfor %}
      </div>
    </div>
  </section>
</div>
{% endblock content %}
