{% extends "layout.html"  %}


{% block content %}
<div class="mx-auto w-full sm:max-w-3xl px-6">

  {# Hero #}
  <section class="pt-12">
    <div class="flex flex-col gap-6 sm:flex-row-reverse sm:justify-between items-center">

      <img
        src="/img/me.jpg"
        alt="Alex Ng"
        width="225"
        height="225"
        fetchpriority="high"
        class="rounded-xl object-cover"
      >

      <div class="max-w-md max-sm:text-center max-sm:items-center sm:max-w-xl flex flex-col space-y-5">
        <h1 class="text-5xl font-bold tracking-tight">
          hi, alex here. 👋
        </h1>

        <p class="font-bold text-base-content">
          {{ age }}yo
          HPC software engineer from Singapore 🇸🇬
        </p>

        <p class="leading-7 text-balance">
          I play with supercomputers, homelabbing and Linux.
          I also maintain OSS projects on the side.
        </p>

        <div class="flex flex-wrap gap-6 text-base items-center">
          <a href="/resume" target="_blank" class="btn btn-outline">
            Resume
            {{ <icon.download /> }}
          </a>

          {% <link.icon url="https://github.com/caffeine-addictt" external={true}> %}
            {{<icon.github class="size-[1.5em]" />}}
          {% </link.icon> %}
          {% <link.icon url="https://www.linkedin.com/in/ngjx/" external={true}> %}
            {{<icon.linkedin class="size-[1.5em]" />}}
          {% </link.icon> %}
          {% <link.icon url="/contact"> %}
            {{<icon.mail class="size-[1.5em]" />}}
          {% </link.icon> %}
        </div>
      </div>

    </div>
  </section>

  {# work/education #}
  <section class="pt-12">
    <div class="tabs tabs-box justify-between">
      <input type="radio" name="work_edu_tab" class="tab w-[49%] ml-0.5" aria-label="Work" checked="checked" />
      <div class="tab-content bg-base-100 border-base-300 p-6">
        {{ <index.timeline groups={work} /> }}
      </div>
      <input type="radio" name="work_edu_tab" class="tab w-[49%] mr-0.5" aria-label="Education" />
      <div class="tab-content bg-base-100 border-base-300 p-6">
        {{ <index.timeline groups={edu} /> }}
      </div>
    </div>
  </section>

  {# featured projects #}
  {# recent posts (blog) #}


</div>
{% endblock %}


{% component index.timeline(groups: array) %}
<ul class="timeline timeline-vertical timeline-compact">
  {% for g in groups %}
  <li class="[--timeline-row-start:minmax(0,0.05fr)]">
    {% if loop.index != 1 %}
    <hr />
    {% endif %}

    <div class="timeline-middle">
      <div class="avatar">
        <div class="size-12 rounded-xs bg-base-200">
          <img src="{{ g.logo }}" alt="{{ g.name_short }}" class="w-full h-full object-contain" />
        </div>
      </div>
    </div>

    <div class="timeline-end flex flex-col w-full mb-4 ml-2 {% if loop.index == 1 %}mt-0{% endif %}">
      <a class="font-bold text-lg link link-hover" href="{{ g.site_link }}" target="_blank">{{ g.name_long }}</a>

      {% for i in g.items %}
      <div class="text-sm text-current/70 flex flex-row max-sm:flex-col max-sm:gap-2 w-full sm:justify-between mt-1">
        <span>{{ i.sub_title }}</span>
        <span>{{ i.duration_flavor }}</span>
      </div>

      {% if i.description %}
      <ul class="list-disc space-y-1 mt-2 text-sm sm:w-[95%]">
        {% for desc in i.description %}
        <li> {{ desc }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      {% if i.links %}
      <div class="flex flex-row gap-2 mt-2">
        {% for l in i.links %}
          <a class="btn btn-xs btn-soft" href="{{ l.link }}" target="_blank">{{ l.name }}</a>
        {% endfor %}
      </div>
      {% endif %}

      {% endfor %}
    </div>

    <hr />
  </li>
  {% endfor %}
</ul>
{% endcomponent index.timeline %}

