name: 'Testing'

on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  tests:
    name: Testing
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4.0.2
        with:
          cache: npm

      - name: Install dependencies
        run: |
          set -xe
          npm i

      - name: Testing
        run: |
          set -xe
          npm run test
